[submodule "qucs-test"]
	path = qucs-test
	url = https://github.com/tang5722917/qucs-test.git
	branch = master-T
[submodule "qucsator"]
	path = qucsator
	url = https://github.com/tang5722917/qucsator
	branch = master-T
